body { background-color: black; }
body  {
	color: #ffffff;
	margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  .squa {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    top: 150px; left: 380px;
    font-size: 13pt;
    position: absolute;
    top: 50px; /* расположение от верхнего края */
    left: 50px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .sq {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 350px; /* расположение от верхнего края */
    left: 50px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  #myImage {
    position: absolute;
  top: 60px; left: 1150px;
  }
  #mImag {
    position: absolute;
  top: 360px; left: 1150px;
  }