body { background-color: black; }
#myImage {
    position: absolute;
  top: 509px; left: 1400px;
  }
  #mImage {
    position: absolute;
  top: 809px; left: 1400px;
  }
  #mImge {
    position: absolute;
  top: 1109px; left: 1400px;
  }
  #mImag {
    position: absolute;
  top: 1409px; left: 1400px;
  }
  #Imag {
    position: absolute;
  top: 1709px; left: 1400px;
  }
  #mag {
    position: absolute;
  top: 2009px; left: 1400px;
  }
  #ag {
    position: absolute;
  top: 2309px; left: 1400px;
  }  
  #g {
    position: absolute;
  top: 2609px; left: 1400px;
  }
  * {box-sizing: border-box;}
  form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    top: -80px; left: 30px;
  }
  .social-icons img{
    position: absolute;
    top: 120px; left: 1400px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 400px;
    height: 250px;
}  

  body  {
	color: #ffffff;
	margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    outline: none;
    background: #000000;
    color: #000000;
  
  }
  button {
    position: absolute; 
    top: 0;
  
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
  }
  #pertext4 {
    position: absolute;
    top: 0;
    top: 20px; left: 1680px;
    font-size: 16pt;
  }
  #pertext6 {
    position: absolute;
    top: 0;
    top: 3000px; left: 30px;
    font-size: 20pt;
  }
  #mo{
    position: absolute;
    top: 3000px; left: 1450px;
  }
  h1{
    position: absolute;
    top: 0;
    top: 150px; left: 380px;
    font-size: 20pt;
  }
  h2{
    position: absolute;
    top: 0;
    top: 220px; left: 380px;
    font-size: 16pt;
  }
  h3{
    position: absolute;
    top: 0;
    top: 390px; left: 450px;
    font-size: 16pt;
  }
  .im{
    position: absolute;
    top: 19px; left: 1750px;
  }

  .squa {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    top: 150px; left: 380px;
    font-size: 13pt;
    position: absolute;
    top: 500px; /* расположение от верхнего края */
    left: 0px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .square {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 800px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .squar {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 1100px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .squ {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 1700px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }  
  .s {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 2000px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .sq {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 1400px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .i {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 2300px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }
  .m {
    width: 1450px;
    height: 270px;
    background-color: black;
    border: 2px solid white;
    text-align: left;
    line-height: center; /* Выравнивание текста по центру */
    color: white;
    line-height: 1.5;
    font-size: 12pt;
    position: absolute;
    top: 2600px; /* расположение от верхнего края */
    left: 380px; /* расположение от левого края */
    border-radius: 20px; /* скругление углов */
  }