
  #pertext3 {
    position: absolute;
    top: 0;
    top: 8px; left: 1980px;
  }
    body { background-color: black; }
    #myImage {
        position: absolute;
      top: 19px; left: 1920px;
      }
      body  {
        color: #ffffff;
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
    }